html {
    background-color: dimgray;
    color: whitesmoke;
}

main {
    margin: 5% 5%;
    max-width: 600px;
}

table {
    border: 1px solid black;
    margin: 30px auto;
    width: 100%;
    font-family: monospace;
}

thead {
    background-color: aliceblue;
    color: black;
}

td {
    border: 1px solid black;
    padding: 5px;
}

h1 {
    font-weight: bold;
    color: rgb(255, 249, 249);
}

h2 {
    color: blanchedalmond;
}

h3 {
    color: linen;
}